header{
    background-image: url(../assets/image/bgrnd.jpg);
    background-color: rgb(255, 249, 238);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.top{
    /* border: 1px dotted red; */
    min-height: 100px;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.logo{
    background-color: white;
    background-repeat: no-repeat;
    width: 200px;
    height: 60px;
    border-radius:  0px 0px 30px 30px;
    padding: 30px  25px;
    
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.links{
    text-decoration: none;
    color: yellow;
    margin: 20px;
    padding: 5px 15px
}
.links:link{
    text-decoration: underline;
}
.links:hover {
    border: 2px white solid;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}
.menu-mess{
    display: flex;
padding: 0 50px 0 30px;

}
nav a{
padding: 5px 15px;
}  
.links,h1,h2,.about, button{
    font-family: 'Ledger', serif, arial;
} 
.about{
    /* border: 1px dotted blue; */
    min-height: 400px;
    width: 500px;
    display: flex;
    align-self: flex-start;
    margin: 30vh 0 23vh 23vw;
    flex-wrap: wrap;
}
#wiki{
    color: green;
}
p::first-letter {
    color: coral;
} 
.great{
    color: #ffffff;
    font-size: 2.8em;
}
p{
    line-height: 20pt;
    font-size: 14pt;
    color: rgb(63, 131, 150);
}
button{
    background: linear-gradient(to left, #CD5C5C, #FFDAB9); 
    color: white; 
    width: 200px; 
    height: 60px; 
    border-radius: 25px; 
    border: 0; 
    font-size: 16pt;
} 
main{
    /* background-image: url(../assets/image/backgroup.png); */
    background-color: rgb(255, 249, 239);
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 1400px;
    justify-content: center;
    align-items: center;
}

.foot{
    background-color: rgb(51, 157, 228);
    display: flex;
    width: 100%;
    min-height: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    }
    .form{
        /* border: 5px dotted red; */
        width: 35%;
        min-height: 300px;
        box-sizing: border-box;
        padding: 30px 0px 30px 250px;
    }
    .collaba{
        /* border: 5px dotted red; */
        width: 35%;
        min-height: 300px;
        display: flex;

        
    }
    .orange{
        width: 10vw;
        height: 9vw;
        padding-top: 200px;
        }
        .yellow{
            width: 10vw;
            height: 9vw;
        }
        
    .podval{
        /* border: 5px dotted red; */
        width: 70%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center
        
    }
    .not{
        display: flex;
        width: 1200px;
        justify-content: center;
        flex-wrap: wrap;
    } 

.greatdown{
    font-size: 28pt;
    color: white;
    
}

.contacts{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    flex-wrap: nowrap; 
}
button{
    margin: 20px 0 0 0;
}

